.noMargin{
    margin-right:0;
    margin-left: 0;
}
.noPadding{
    padding-left: 0;
    padding-right: 0;
}
.header {
    border-top: 3px solid orange;
    height: 100px;
}

/*HEADER*/
#siteLogo {
    position: relative;
    width: 200px;
    padding-top: 30px;
    left: 250px;
}

#searchBar {
    margin: 0 auto;
    position: relative;
    background-color: #d3d3d3;
    left: 450px;
    bottom: 25px;
    width: 400px;
    height: 50px;
    border-radius: 31px 0px 0px 31px;;
    border: none;
    font-size: 25px;
    padding-left: 25px;
}
#go {
    position: relative;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 0px 31px 31px 0px;
    left: 445px;
    bottom: 27px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#phone {
    position: relative;
    left: 570px;
    bottom: 20px;
    /*border: 1px solid red;*/
}
#phoneNumber {
    position: relative;
    width: 175px;
    /*border: 1px solid red;*/
    float: right;
    right: 390px;
    top: 25px;
    font-size: 20px;
    font-weight: bold;
}

#login {
    border: none;
    float: right;
    width: 100px;
    height: 35px;
    position: relative;
    top: 40px;
    right: 100px;
    background-color: #FF8000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/*LOGIN POPUP*/
.modal {
    /*border: 1px solid red;*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 600px;
    height: 650px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: transparent; /* Black w/ opacity */
    padding-top: 30px;
    top: 100px;
    left: 650px;
}
/* Modal Content/Box */
.modal-content {
    padding-top: 30px;
    padding-left: 65px;
    margin: 0 auto;
    height: 590px;
    width: 450px;
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
}
.modal-content h2 {
    margin-left: 35px;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
}
.somediabtn {
    margin: 15px;
    margin-left: 20px;
    width: 280px;
    height: 45px;
    cursor: pointer;
}
#fbbtn {
    border: none;
    background-color: #5352AF;
    color: white;
    font-size: 20px
}
#twitbtn {
    border: none;
    background-color: #498EF0;
    color: white;
    font-size: 20px
}
.or {
    margin-left: 150px;
}
.loginform {
    margin-left: 5px;
}
.loginform input {
    font-size: 30px;
}

.container button {
    margin: 20px;
    margin-left: 20px;
}
#createbtn {
    border: none;
    background-color: #0BB5FF;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#connectbtn {
    border: none;
    background-color: #E30078;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.container span {
    margin-left: 100px;
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*NAVBAR*/
.navbar {
    /*border: 1px solid green;*/
    background-color: #FF8000;
    height: 50px;
}

#navigation li {
    margin-left: 200px;
    position: relative;
    bottom: 12px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#homeBtn {
    position: relative;
    top: 11px;
    left: 105px;
    font-size: 25px;
    cursor: pointer;
}

.dropbtn {
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF8000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FF0000}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FF8000;
}

/*BANNER*/
.banner {

    border: 1px solid red;
    height: 500px;
    width: 100%
}

/*CAROUSEL*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  border: 1px solid red;
  margin-top: 25px;
  width: 1500px;
  max-height: 500px;
  position: relative;
  margin: auto;
  float: left;
}

.mySlides {
    display: none;
}
.mySlides img {
    max-height: 500px;
    width: 1500px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.carouselText {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline;
  padding: 0.5rem;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*NEW MOVIES*/
.new {
    border: 2px solid #d3d3d3;
    padding-top: 40px;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 50px;
    width: 1600px;

}
.movieBox {
    display: inline-block;
    border: 1px solid red;
    margin-left: 100px;
    width: 200px;
    height: 350px;
}
.movieBox img {
    width: 200px;
    height: 280px;
}
.movieBox p {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

/*FEATURED MOVIES*/

.featured {
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 1800px;
}
.featured h2 {
    border-left: 4px solid #FF8000;
    margin-left: 25px;
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.filter {
    margin-left: 45px;
}
.filter li {
    position: relative;
    display: inline-block;
    list-style-type: none;
}
.filterBtn {
    margin-left: 0px;
    margin-right: 0px;
    width: 90px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.featured .movieBox {
    margin-left: 85px;
    margin-top: 25px;
}

#hidden {
    display: none;
}

.plusFilms {
    border: none;
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 35px;
    left: 800px;
    background-color: #FF8000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
